<html>
<body>
<h3> Hello ${user.firstName},</h3>
    <p>You are receiving this message because you have requested to change your password. (If you did not make this request, you can disregard this email.)</p>
    <p>Please click on the following url to change you password.</p>
    <a href="${webUrl}change-password/${token}/${user.username}">${webUrl}change-password/${token}/${user.username}</a>
    <p>Thank You</p>
    <p>Ufril</p>
</body>
</html>
