<html>
<body>
    <h3> Welcome to Marcitran!</h3>
    <p>You're receiving this message because you signed up for an account on Ufril Marcitran. (If you didn't sign up, you can ignore this email.)</p>
    <p>Please go to the following url to complete your registration process.</p>
    <a href="${webUrl}/v1/users/confirm-signup/${token}">${webUrl}/v1/users/confirm-signup/${token}</a>
    <p>Thank You</p>
    <p>Ufril Team</p>
</body>
</html>
